<!doctype html>
<html lang="ru">
  <body>
    <header id="header"><a>AnalystWho</a>
    </header>
    <aside id="sidebar" class="sidebar">
        <li class="nav-heading">Страницы</li>
        <li class="nav-item">
            <a class="nav-link" href="main.html">
                <span>Главная</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="years.html">
                <span>Статистика по годам</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="cities.html">
                <span>Статистика по городам</span>
            </a>
        </li>
    </aside>
    <h1>Здесь должны быть списки городов</h1>
    </body>
</html>